@media screen and (min-device-width: 768px) {
  body {
    font-size: 25px;
    padding: 30px;
  }

  .main__block {
    flex-direction: row;
  }

  .header__user {
    gap: 30px;
  }

  .skills {
    flex-direction: column;
  }

  .header__user-info > h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--heading-color);
  }
  
  h1 ~ h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--subheading-color);
    letter-spacing: 1px;
  }

  h3 {
    font-size: 25px;
  }

  .heading {
    font-size: 30px;
  }

  .nav {
    padding-top: 0px;
  }

  .nav__list {
    background: none;
    flex-direction: row;
    transform: none;
    position: static;
    font-size: 30px;
    inset: auto;
    gap: 20px;
  }

  .nav__burger {
    display: none;
  }

  .header {
    flex-direction: column;
    gap: 50px;
  }

  .code {
    font-size: 17px;
  }
}

@media screen and (min-width: 1000px) {

  body {
    padding: 50px 100px 50px 100px;
  }

  .header__user {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main__block {
    justify-content: space-between;
  }

  article {
    max-width: 45%;
  }

  #about {
    max-width: 60%;
  }

  .contacts__list {
    flex-direction: column;
    gap: 20px;
  }

  .contacts__item {
    width: auto;
  }

  .heading {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .nav__list {
    justify-content: space-around;
    font-size: 35px;
  }

  .skills {
    width: 178px;
  }

  .footer {
    padding-top: 70px;
  }

  pre {
    height: 465px;
  }

  .rsschool {
    width: 128px;
  }

  .header__pic {
    display: block;
    height: 150px;
    width: 150px;
  }
}