.body {
    margin: 0
}
.header-background {
    padding: 60px;
    margin-bottom: 30px;
    background: #FFCDB2;
}

.avatar {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 60px;
    top: 90px;
}